@using Microsoft.AspNetCore.Identity
@using Data.EntityModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model MembershipIndexVM

@{ ViewData["Title"] = "Index";
    Layout = null;
 }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/tableutil.css">
    <link rel="stylesheet" type="text/css" href="~/css/tablemain.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr>
                                <th>Gym</th>
                                <th>UserName</th>
                                <th>Membership Type</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MembershipIndexVM.Row s in Model.memberships)
                            {
                                <tr>
                                    <td>@s.Gym</td>
                                    <td>@s.ApplicationUser</td>
                                    <td>@s.MembershipTypeName</td>
                                    <td>@s.StartDate</td>
                                    <td>@s.EndDate</td>
                                    <td>@s.Price$</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>